  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;400&display=swap');


:root{
    --primary : #100C08; 
    --light : #FFFFF0; 
    --secondary : #FF2400; 
}
body{
    background-color: var(--light);
    background-color: #F5F5F5;
    color: var(--dark) !important;
    font-family: 'Roboto Condensed', sans-serif;
}
nav {
    background-color: var(--primary);
    position: top-fixed !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}
.navbar-brand h1 {
    color: var(--secondary);
}
.dropdown-menu{
    background-color: var(--primary) !important;
}
.dropdown-menu li a {
    color: var(--secondary) !important;

}
.btn-danger{
    background-color: var(--secondary) !important;
}
.text-danger {
    color: var(--secondary) !important;
}
.nav-link {
    color: var(--secondary) !important;
}
section#hero{
    background-color: var(--secondary);
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(./img1.jpg) no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    color: var(--light);
    width: 100%;
    height: 60vh;
}
.dropdown img {
    outline:  2px solid royalblue;
}

.createBox{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.signUpbtn , .activeUser{
    display: none;
}
.dropdown-toggle::after {
    content: none;
    position: relative;
}
.dropdown-menu{
    position: absolute;
    left: -30px !important;
    top: 60px !important;
}
.createBtn {
    margin-top: 8px;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: large;
    border-radius: 10px;
    color: var(--light);
    background-color: var(--secondary);
    transition: ease all 0.5s;
}
.createBtn:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    outline: none;
    border: none;
}
.profileImg img {
    border-radius: 20px;
    object-fit: cover;
    height: 100px;
    width: 100px;
    /* object-position: center;     */
}

footer{
    background-color: var(--primary) ;
    color: var(--secondary);
    padding:15px;
    text-align: center;
}

